In [1]:
import os
import pandas as pd
import glob

In [3]:
DIALOGS_DATA_PATH = "D:/data/dialogs"
DIALOGS_META_DATA_PATH = "D:/data/dialogs_meta"

MERGED_DATA_PATH = "D:/data/merged_data"

In [4]:
!ls D:/data/

"ls" ¬≠“ê –ø—û¬´–ø“ê–≤–±–ø —û¬≠–≥–≤–∞“ê¬≠¬≠“ê¬© –Å¬´–Å —û¬≠“ê–∏¬≠“ê¬©
–Ñ¬Æ¬¨¬†¬≠¬§¬Æ¬©, –Å–±–á¬Æ¬´¬≠–ø“ê¬¨¬Æ¬© –á–∞¬Æ–à–∞¬†¬¨¬¨¬Æ¬© –Å¬´–Å –á¬†–Ñ“ê–≤¬≠–ª¬¨ –¥¬†¬©¬´¬Æ¬¨.

In [5]:
dialogs_data_files = glob.glob(f"{DIALOGS_DATA_PATH}/*.csv")
dialogs_meta_data_files = glob.glob(f"{DIALOGS_META_DATA_PATH}/*.json")

## merging all dialogs_data (csv files) into one

In [6]:
df_array = []

for d in dialogs_data_files:
    local_df = pd.read_csv(d)
    local_df["dialog_id"] = os.path.basename(d).split(".")[0]
    
    df_array.append(local_df)
    
df = pd.concat(df_array, ignore_index=True)

In [7]:
if not os.path.isdir(MERGED_DATA_PATH):
    os.mkdir(MERGED_DATA_PATH)

if "Unnamed: 0" in df:
    df = df.drop(["Unnamed: 0"], axis=True)
    
df.to_csv(f"{MERGED_DATA_PATH}/dialogs_data_all.csv", index=False)

In [8]:
df.shape

(1519343, 9)

In [9]:
df.head(10)

,id,date,from_id,to_id,fwd_from,message,type,duration,dialog_id
0,15602,2022-04-06 10:23:25+00:00,NaN,PeerChannel(channel_id=1011817559),NaN,–†–æ—Å—ñ–π—Å—å–∫–∏–π –º—ñ–Ω–æ—à—É–∫–∞—á ¬´–ö–æ—Ä—à—É–Ω¬ª —Å—Ç–∞–≤ —Ç—Ä–æ—Ñ–µ—î–º –≤—ñ–π...,photo,NaN,-1001011817559
1,15601,2022-04-06 09:11:01+00:00,NaN,PeerChannel(channel_id=1011817559),NaN,üá∫üá¶–£–∫—Ä–∞—ó–Ω—Å—å–∫—ñ –¥–µ—Å–∞–Ω—Ç–Ω–∏–∫–∏ –∑–Ω–∏—â–∏–ª–∏ —Ç—Ä–∏ —Ç–∞–Ω–∫–∏ —ñ –ø–∞...,photo,NaN,-1001011817559
2,15600,2022-04-06 08:13:30+00:00,NaN,PeerChannel(channel_id=1011817559),NaN,üá∫üá¶–ë—ñ–π—Ü—ñ –í–°–ü –∑–∞—Ö–æ–ø–∏–ª–∏ —Ä–æ—Å—ñ–π—Å—å–∫—É –°–ê–£ ¬´–ê–∫–∞—Ü—ñ—è¬ª —Ç–∞...,photo,NaN,-1001011817559
3,15599,2022-04-06 07:06:50+00:00,NaN,PeerChannel(channel_id=1011817559),NaN,üá∫üá∏–°–®–ê –Ω–∞–¥–∞—é—Ç—å üá∫üá¶–£–∫—Ä–∞—ó–Ω—ñ –¥–æ–¥–∞—Ç–∫–æ–≤—ñ 100 –º–ª–Ω –¥–æ–ª–∞...,photo,NaN,-1001011817559
4,15598,2022-04-06 06:41:10+00:00,NaN,PeerChannel(channel_id=1011817559),NaN,NaN,photo,NaN,-1001011817559
5,15597,2022-04-06 06:41:09+00:00,NaN,PeerChannel(channel_id=1011817559),NaN,NaN,photo,NaN,-1001011817559
6,15596,2022-04-06 06:41:09+00:00,NaN,PeerChannel(channel_id=1011817559),NaN,üá∫üá¶ –ü—Ä–∏–±–ª–∏–∑–Ω–∞ —Å–∏—Ç—É–∞—Ü—ñ—è –Ω–∞ —Ñ—Ä–æ–Ω—Ç—ñ —Å—Ç–∞–Ω–æ–º –Ω–∞ –ø–æ—á–∞...,photo,NaN,-1001011817559
7,15595,2022-04-06 06:16:30+00:00,NaN,PeerChannel(channel_id=1011817559),NaN,üá∫üá¶–£–∫—Ä–∞—ó–Ω—Å—å–∫—ñ —Å–∏–ª–∏ –≤–∏–±–∏–ª–∏ —Ä–æ—Å—ñ—è–Ω –∑ —Ç—Ä—å–æ—Ö –Ω–∞—Å–µ–ª–µ...,photo,NaN,-1001011817559
8,15594,2022-04-05 20:08:40+00:00,NaN,PeerChannel(channel_id=1011817559),NaN,–ü—ñ–¥—Ä–æ–∑–¥—ñ–ª–∏ –ù–∞—Ü–≥–≤–∞—Ä–¥—ñ—ó –£–∫—Ä–∞—ó–Ω–∏ –≤–∑—è–ª–∏ –ø—ñ–¥ –æ—Ö–æ—Ä–æ–Ω...,photo,NaN,-1001011817559
9,15593,2022-04-05 19:25:30+00:00,NaN,PeerChannel(channel_id=1011817559),NaN,–ù–∞ –î–æ–Ω–µ—á—á–∏–Ω—ñ –ø—Ä–∏–∫–æ—Ä–¥–æ–Ω–Ω–∏–∫–∏ –∑–±–∏–ª–∏ —Ä–æ—Å—ñ–π—Å—å–∫–∏–π ‚Äú–û...,photo,NaN,-1001011817559

In [10]:
min(df["date"]),max(df["date"])

('2016-02-11 17:03:08+00:00', '2022-04-06 15:00:40+00:00')

In [11]:
df.groupby(["type"])["type"].count()

type
photo      496947
sticker     28783
text       872226
video      102912
voice       18475
Name: type, dtype: int64

In [12]:
df.groupby(["type"])["duration"].sum()

type
photo      0.000000e+00
sticker    0.000000e+00
text       0.000000e+00
video      4.300139e+09
voice      4.588690e+05
Name: duration, dtype: float64

## merging all dialogs_meta_data (json files) into one

In [13]:
df_array = []

for d in dialogs_meta_data_files:
    local_df = pd.read_json(d)
    local_df = local_df.rename({'id': 'dialog_id'}, axis=1)
    df_array.append(local_df)
    
df_meta = pd.concat(df_array, ignore_index=True)

In [14]:
df_meta.to_csv(f"{MERGED_DATA_PATH}/dialogs_users_all.csv", index=False)

In [15]:
df_meta.shape

(8211, 4)

In [16]:
df_meta.head(10)

,dialog_id,name,type,users
0,-1001124109395,–§—ñ–ª—ñ–∞–ª –ö–ú–¶,Group,"{'user_id': 426175316, 'first_name': '–∞ÃëÃà', 'l..."
1,-1001124109395,–§—ñ–ª—ñ–∞–ª –ö–ú–¶,Group,"{'user_id': 375847882, 'first_name': 'RatHive'..."
2,-1001124109395,–§—ñ–ª—ñ–∞–ª –ö–ú–¶,Group,"{'user_id': 644106926, 'first_name': '–ê–Ω—è', 'l..."
3,-1001124109395,–§—ñ–ª—ñ–∞–ª –ö–ú–¶,Group,"{'user_id': 463403147, 'first_name': '–ú–∞–∫—Å–∏–º',..."
4,-1001124109395,–§—ñ–ª—ñ–∞–ª –ö–ú–¶,Group,"{'user_id': 878894529, 'first_name': 'Ivan', '..."
5,-1001124109395,–§—ñ–ª—ñ–∞–ª –ö–ú–¶,Group,"{'user_id': 380133204, 'first_name': 'Pavlo Ya..."
6,-1001124109395,–§—ñ–ª—ñ–∞–ª –ö–ú–¶,Group,"{'user_id': 694004489, 'first_name': '–í–∞–ª–µ—Ä–∞',..."
7,-1001124109395,–§—ñ–ª—ñ–∞–ª –ö–ú–¶,Group,"{'user_id': 255144521, 'first_name': 'Oleg', '..."
8,-1001124109395,–§—ñ–ª—ñ–∞–ª –ö–ú–¶,Group,"{'user_id': 5223568697, 'first_name': 'AriyaüîÜ'..."
9,-1001124109395,–§—ñ–ª—ñ–∞–ª –ö–ú–¶,Group,"{'user_id': 1347119114, 'first_name': '–ë–æ–≥–¥–∞–Ω'..."

In [17]:
df_meta.groupby(["type"])["type"].count()

type
Group             8150
Private dialog      61
Name: type, dtype: int64